body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    margin: 50px 0;
    padding: 0;
}

.link {
    cursor: pointer;
}

.header {
    text-align: right;
    margin-bottom: 2em;
    width: 520px;
}

.outer {
    width: 600px;
    margin: 0 auto;    
}

.player {
    cursor: pointer;
    padding: 5px;
}

.player .name {
    display: inline-block;
    width: 400px;
    font-size: 1.75em;
}

.player .score {
    display: inline-block;
    width: 100px;
    text-align: right;
    font-size: 1.75em;
    color: #777;
}

.player.selected {
    background-color: yellow;
}

.player.selected .score {
    color: black;
}

.player.me {
    background-color: lightblue;
}

.player.inactive {
    color: #ccc;
}

.player.inactive .score{
    color: #ccc;
}

.gameboard {
    margin-top: 2em;
    color: #777;
}

.gameboard .timeago {
    color: #ccc;
}