body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
  margin: 2em 0;
  background: #2495b7;
}
h1 {
  font-family: 'Convergence', sans-serif;
  color: #DDF0F9 ;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.7);
  font-size: 48px;
}
.hidden {
  display: none;
}
.link {
  cursor: pointer;
}
.header {
  text-align: right;
  margin-bottom: 2em;
  width: 520px;
}
.outer {
  width: 600px;
  margin: 0 auto;
}
.player {
  cursor: pointer;
  margin-top: 0.8em;
  padding: 0.8em;
  background: #d6f1f9;
  -moz-box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  height: 75px;
}
.player .name {
  display: inline-block;
  width: 400px;
  font-size: 1.75em;
}
.player .avatar {
  float: left;
  margin-right: 1em;
  height: 75px;
}
.player .avatar .avatar_img {
  -moz-box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.5);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.player .score {
  display: inline-block;
  width: 100px;
  text-align: right;
  font-size: 1.75em;
  color: black;
}
.player .avatar_img_mini {
  width: 1.5em;
  vertical-align: middle;
}
.player.selected {
  background-color: #ffff00;
}
.player.me {
  background-color: #eeeeff;
}
.inactive {
  color: #999999;
}
.gameboard {
  padding: 2em;
  margin-top: 2em;
  color: #666;
  background: #d6f1f9;
  -moz-box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.gameboard .gameinfo {
  float: right;
  color: #999;
}
.gameboard .bigwin {
  color: red;
}
.gameboard .comments {
  position: relative;
  left: 2em;
  color: #999;
  font-size: smaller;
}
.copyright {
  margin-top: 2em;
  font-size: smaller;
  color: #ddd;
}
.gameboard .timeago {
  color: #999999;
}
.onfire-icon {
  color: yellow;
  text-shadow: 0px 0px 4px #555;
}

.hand {
    cursor: pointer;
}
