
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    margin: 2em 0;
}

.player {
    border-bottom: 1px dotted lightgray;
    cursor: pointer;
    padding: 0.8em;
}

.gameboard {
    margin-top: 2em;
    color: #777;
}